<h1> You fall in love with: <%=thing.toUpperCase()%> </h1>
<%if(thing.toLowerCase() === "violet"){ %>
    <p>You made a good choice!</p>
<%}else{ %>
    <p>Bad choice. Violet should always be the best :)</p>
<%}%>

<p> This is from the love.ejs file</p>