<% include partials/header %>

<h1>Welcome to the Campgrounds page</h1>
<a href = "/campgrounds/new">Add a new camground</a>
<ul>
<% campgrounds.forEach(function(ground){ %>
    <li>
        <%= ground.name %>
        <br>
        <img src = "<%=  ground.image %>"></img>
    </li>
<% }); %>
</ul>

<% include partials/footer %>

